/* responsive design for small device */
@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .nav-menu-bar {
    display: block;
    font-size: 24px;
  }
  .btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
  }
  header {
    padding: 30px 20px 0 20px;
  }
  .banner-btn {
    display: flex;
  }
  .banner {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .banner-content h1 {
    font-size: 54px;
    margin-top: 30px;
  }
  .tutorial {
    position: absolute;
    bottom: 250px;
    left: 30px;
  }
  .workout {
    position: absolute;
    top: 80px;
    right: -10px;
  }
  .habits-content {
    flex-direction: column;
  }
  .habits-image-content h4 {
    margin-top: 10px;
  }
  .run {
    flex-direction: column;
    gap: 80px;
    margin: 0 10px;
  }
  .training-content {
    margin-left: 10px;
  }
  .training-image {
    grid-template-columns: repeat(2, auto);
    margin: 0 10px;
  }
  .training-image img {
    height: 120px;
    width: 100%;
  }
  .calculator-content {
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .team-members {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px;
  }
  .footer-content,
  .footer-col2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin: 0 10px;
  }
}

/* responsive design for medium device */
@media screen and (min-width: 576.02px) and (max-width: 992px) {
}

/* responsive design for large device */
@media screen and (min-width: 992.02px) and (max-width: 1250px) {
}
