@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap");

/* common styles */
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Inter;
  color: white;
}
header,
main,
footer {
  background-color: black;
}
.orange {
  color: #e6533c;
}
.white50 {
  color: rgba(255, 255, 255, 0.5);
}
.white60 {
  color: rgba(255, 255, 255, 0.6);
}
.grey65 {
  color: rgba(239, 237, 232, 0.65);
}
.btn-primary {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #e6533c;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
section {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 100px;
}
.section-title {
  font-size: 48px;
}
.section-info {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  margin-bottom: 58px;
}

/* nav section */
header {
  padding: 50px 100px 0 100px;
  background: linear-gradient(
    rgba(17, 17, 17, 95),
    rgba(17, 17, 17, 0.9),
    rgba(17, 17, 17, 0.95),
    rgba(17, 17, 17, 1),
    black
  );
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title h2 {
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
ul {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 6px 0;
  border: 1px solid dimgrey;
  border-radius: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 20px;
  color: #fff;
}
ul li a:hover {
  background-color: #e6533c;
}
.nav-menu-bar {
  display: none;
  cursor: pointer;
}

/* banner section */
.banner {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.banner-content h1 {
  font-size: 78px;
}
.banner-content h1 span {
  font-family: Italianno;
}
.banner-content p {
  line-height: 26px;
}
.d-app {
  background-color: transparent;
  border: 1px solid darkgrey;
  margin-left: 10px;
}
.banner-image img {
  width: 100%;
}
.banner-image {
  position: relative;
}
.tutorial {
  position: absolute;
  bottom: 100px;
  left: -90px;
}
.workout {
  position: absolute;
  top: 200px;
  right: -50px;
}
.tutorial,
.workout {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 13px;
}
.tutorial h4 {
  font-size: 20px;
  font-weight: bold;
}
.tutorial i,
.workout h4 {
  font-size: 30px;
}

/* habits section */
.habits {
  text-align: center;
}
.habits-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 58px;
}
.habits-image-content {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habits-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.habits-image-content h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
.habits-image-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

/* run section */
.run {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  border-radius: 18px;
  padding: 30px;
}
.run-content {
  max-width: 400px;
}
.run-content p {
  margin-top: 14px;
  margin-bottom: 34px;
}
.run-image {
  max-width: 350px;
}
.run-image img {
  width: 100%;
  border-radius: 18px;
}

/* training section */
.training-image-box img {
  height: 200px;
  width: 100%;
}
.training-image {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.training-image-box {
  position: relative;
}
.training-image-box p {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

/* calculator section */
.calculator {
  text-align: center;
}

.calculator2 {
  background-color: #222222;
}
.calculator-content {
  padding: 50px 0;
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 50px; */
}
.calculator-content h3 {
  font-size: 28px;
}
.calculator-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}
.calculator-chart table {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  margin-top: 30px;
  text-align: left;
}
.calculator-chart th,
.calculator-chart td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
}
.calculator-chart th {
  font-size: 16;
}
.calculator-chart td {
  font-size: 14;
  color: rgba(255, 255, 255, 0.5);
}

.input-table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-table input,
.input-table select {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  color: rgba(239, 237, 232, 0.5);
}
.input-table input::placeholder,
.input-table select {
  padding-left: 15px;
}
.input-table select {
  cursor: pointer;
  color: rgba(239, 237, 232, 0.5);
}
.input-table select option {
  background-color: #222222;
  border: none;
}
.input-row-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-row-col1 {
  display: grid;
  grid-template-columns: 1fr;
}
.bmi-calculate button {
  margin-top: 30px;
}

/* team section */
.team-content {
  text-align: center;
}
.team-members {
  max-width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
}
.single-member img {
  height: 272px;
  width: 100%;
  border-radius: 18px;
}
.single-member {
  position: relative;
}
.member-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
